*{
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}


html{
height: 100%
}

head{
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #333;
}

input{
  width: 100px:
  height:40px;
  padding: 12px;
  font-size: 14px;
  border: 0;
}

input:focus {
  outline: none;
}

body{
  color: #333;
}

ul{
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 10px;
}

li {
  display: inline;
}

.navleft{
  font-size: 12px;
  color: #333;
  list-style: none;
  margin: 4px;
  padding-top: 4px;
  text-align: left;
  float:left;

}

.navright{
  font-size: 12px;
  color: #333;
  list-style: none;
  margin: 4px;
  text-align: right;
  float: right;
}

.botnav{
  background-color: #f2f2f2;
  font-size: 12px;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  padding: 6px 14px 14px 12px;
  display: line-block;
}

.botnav a{
  padding-right: 6px;
  margin-right: 10px;
  color: black;
  position: relative;
  top: 18px;
}

.navbotleft {
  font-size: 12px;
  color: #333;
  list-style: none;
  margin: 4px;
  text-align: left;
  float:left;
}

.navbotright{
  font-size: 12px;
  color: #333;
  list-style: none;
  margin: 4px;
  position: relative;
  right: 50px;
  text-align: right;
  float: right;
}
.center{
  margin:auto;
  width: 550px;
  padding-top: 170px;
}

.buttons{
  display:inline;
  position: relative;
  left: 140px;
  margin: 15px 3px;
  height: 40px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  background-color: #f2f2f2;
  font-size: small;
  font-weight: bold;
  color: #757575;
  line-height: 0;
  padding: 14px;
}

.buttons:hover {
  border: 1px solid #b4b6ba;
  color: black;
}

.buttons:focus{
  outline: none;
}

#searchbar {
  border: 1px;
  border-color: #f2f2f2;
  box-shadow: 1px 1px 5px grey;
}

#searchbar:hover {
  border: 2px;
  border-color: #f2f2f2;
  box-shadow: 3px 3px 10px grey;
}

#logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

#grid{
  opacity: 0.5;
}

#grid:hover{
  opacity: 1;
}

#mic {
  position:relative;
  height: 20px;
  left:  320px;
  padding-bottom: 2px;
  vertical-align: middle;
}

#signIn {
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  border: 1px solid #4285f4;
  color: white;
  padding: 0px 12px;
  font-weight: bold;
  text-align:center;
  position: relative;
  z-index: auto;
  line-height:28px;
  bottom: 6px;
  border-radius: 2px;
}
.navright:hover {
  text-decoration: underline;
}

.navleft:hover {
  text-decoration: underline;
}

.navbotleft:hover {
  text-decoration: underline;
}

.navbotright:hover {
  text-decoration: underline;
}

a:link{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.67);
}
